.logo_div, .fpix_header, .topad, .fpix_asl_table, .profile_text, .nc_profile, #left_container, #profilephoto, #flash_close_butt, #start_chat_but, .uppermenu, #buyers_ad, #flashcontent, .bottombar, .byline, .top-links{visibility: hidden  !important; display: none  !important;}   
body{background-image: url(' ') !important;font-size:0; background-color:#f5f5f5!important; background-position:bottom-center!important;background-repeat:no-repeat;cursor: url(http://www.rw-designer.com/cursor-view/42704.png),auto;color: #353434;
font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
font-size: 10px; }
 
@font-face {
font-family: "comic";
src: url('http://static.tumblr.com/uuxiawr/Sgdmacv3k/comic.ttf');}
 
@font-face {
font-family: "talldark";
src: url('http://static.tumblr.com/7fjp0ap/YSGmbf85z/talldark.ttf');}
 
@font-face {
font-family: "cambria";
src: url('http://dl.dropbox.com/u/81624450/CAMBRIA.TTC');}
 
@font-face {
font-family: "giddyup";
src: url('http://static.tumblr.com/uuxiawr/cRimagk8w/giddyupstd.otf');}
 
::-webkit-scrollbar-thumb {
background-color: #353434;
height: 5px;
width: 1px;
}
 
::-webkit-scrollbar {
height: 5px;
width: 1px;
background-color: #e5e1df;
}
 
a{
color: #064079;
 
text-decoration: none;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
}
 
a:hover{
color: #353434;
}
 
 
#barholder{
position:fixed;
top: 0px;
bottom: 0px;
left: 400px;
width: 205px;
}
 
 
 
 
#sidebar{
width: 200px;
display: inline-block;
text-align: center;
background: ;
}
 
#sidebarx{
display: inline-block;
padding-bottom: -1px;
width: 185px;
border-top: 1px double #FF0033;
border-bottom: 1px double #FF0033;
border-left: 1px double #FF0033;
border-right: 1px double #FF0033;
 
    }
 
#sidebarx img{
 
width: 185px;
height: 270px;
text-align: center;
 
}
 
 
#sidetitle{
margin-top: 10px;
width: 190px;
display: inline-block;
text-align: center;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
font-size: 20px;
padding: 5px;
border: 1px groove #353434;
color: #E5E1DF;
background-color: #000000;
}
 
 
 
#desc{
background-color: #000000;
color: #FF99CC;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size: 12px;
margin-left: 10px;
margin-top: 10px;
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
border: ridge 1px #FFFFFF;
width: 185px;
height: 300px;
overflow-y: scroll;
display: block;
text-align: center;
}
   
   
#custombox{
margin-top: 10px;
text-align: center;
width: 200px;
}
 
 
#custombox a{
font-family: comic;
text-transform: none;
font-size: 10px;
display: block;
width: 190px;
height: 20px;
text-align:center;
margin-bottom: 2px;
line-height: 20px;
padding-right: 5px;
padding-left: 5px;
border: 1px dotted #353434;
background-color: #e5e1df;
color: #353434;
}
 
   
#custombox a:hover{
border: 1px dotted #e5e1df;
background-color: #353434;
color: #e5e1df;
}
 
 
 
 
#sideimgholder{
position: fixed;
top: 0px;
bottom: 0px;
left:8px;
width: 80px;
}
 
 
 
#sideimagesbox{
display: inline-block;
width: 80px;
}
 
 
 
#sideimg1{
margin-bottom: 30px;
display: block;
width: 60px;
height: 60px;
margin-left: 10px;
border: 2px solid #cac5c2;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}
 
 
#sideimg1 img{
width: 60px;
height: 60px;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
   
    }
 
.navi1{
position: fixed;
margin-top: -60px;
z-index: 999;
font-size: 9px;
text-transform: uppercase;
font-family: comic;
font-style: bold;
line-height: 20px;
background-color: #cac5c2;
text-align: center;
width: 90px;
height: 20px;
margin-left: -15px;
opacity: 0;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
}
 
 
#sideimg1:hover .navi1{
margin-top: -38px;    
opacity: 0.8;    
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
}
   
 .navi1 a{
color: #353434;
text-decoration: none;
}
 
 
#sideimg2{
margin-bottom: 30px;
display: block;
width: 60px;
height: 60px;
margin-left: 10px;
border: 2px solid #cac5c2;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}
 
 
#sideimg2 img{
width: 60px;
height: 60px;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}
   
   
.navi2{
position: fixed;
margin-top: -60px;
z-index: 999;
font-size: 9px;
text-transform: uppercase;
font-family: comic;
font-style: bold;
line-height: 20px;
background-color: #cac5c2;
text-align: center;
width: 90px;
height: 20px;
margin-left: -15px;
opacity: 0;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
}
 
 
#sideimg2:hover .navi2{
margin-top: -38px;    
opacity: 0.8;    
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
}
   
 .navi2 a{
color: #353434;
text-decoration: none;
}
   
   
#sideimg3{
margin-bottom: 30px;
display: block;
width: 60px;
height: 60px;
margin-left: 10px;
border: 2px solid #cac5c2;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}
 
 
#sideimg3 img{
width: 60px;
height: 60px;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}
   
 
.navi3{
position: fixed;
margin-top: -60px;
z-index: 999;
font-size: 9px;
text-transform: uppercase;
font-family: comic;
font-style: bold;
line-height: 20px;
background-color: #cac5c2;
text-align: center;
width: 90px;
height: 20px;
margin-left: -15px;
opacity: 0;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
}
 
 
#sideimg3:hover .navi3{
margin-top: -38px;    
opacity: 0.8;    
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
}
   
 .navi3 a{
color: #353434;
text-decoration: none;
}
   
   
#sideimg4{
display: block;
margin-left: 10px;
width: 60px;
height: 60px;
border: 2px solid #cac5c2;
background-color: #cac5c2;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}
 
 
#sideimg4 img{
background-color: #cac5c2;
width: 60px;
height: 60px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border-radius: 50px 50px 50px 50px;
}  
   
 
.navi4{
position: fixed;
margin-top: -60px;
z-index: 999;
font-size: 9px;
text-transform: uppercase;
font-family: comic;
font-style: bold;
line-height: 20px;
background-color: #cac5c2;
text-align: center;
width: 90px;
height: 20px;
margin-left: -15px;
opacity: 0;
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
}
 
 
#sideimg4:hover .navi4{
margin-top: -38px;    
opacity: 0.8;    
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
}
   
 .navi4 a{
color: #353434;
text-decoration: none;
}
 
 
#border1{
position: fixed;
left: 50px;
 
 
height: 50%;
top: 0px;
width: 20px;
border-right: 10px solid #6d6969;
background-color: #FF0033;
-moz-border-radius: 0px 0px 50px 50px;
-webkit-border-radius: 0px 0px 50px 50px;
border-radius: 0px 0px 50px 50px;
    }
 
 
 
#border2{
position: fixed;
left: 50px;
 
 
height: 50%;
bottom: 0px;
width: 20px;
border-left: 10px solid #6d6969;
background-color: #FF0033;
-moz-border-radius: 50px 50px 0px 0px;
-webkit-border-radius: 50px 50px 0px 0px;
border-radius: 50px 50px 0px 0px;
    }
   
 
 
 
#circle{
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border-radius: 60px 60px 60px 60px;
padding: 1px;
width: 60px;
height: 60px;
position: fixed;
top: 50%;
margin-top: -31px;
left: 50px;
 
 
background-color: #353434;
   
   
    }
 
 
 #circle img{
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border-radius: 60px 60px 60px 60px;
}
 
.posic{right:1px;bottom:1px;position:fixed;}
 
.goodbox{ background:#e5e1df;top:190px;left:410px;font-family:tahoma;font-size:10px;width:350px;height:200px;color:#000;padding:3px;position:fixed; overflow:auto;border-top: 2px solid #353434;border-bottom: 2px solid #353434; text-align:justify;}
 
#pd2{top:90px;left:180px;position:fixed;font-family:'Helvetidoodle',cursive;font-size:60;color:#999999;text-shadow: 2px 2px 2px #ccc; z-index:1;width:px; border-bottom:1px dotted;}
 
@font-face{font-family:Helvetidoodle; src:url(http://static.tumblr.com/9wzbixa/qOPmj2lzl/helvetidoodlebyedt.ttf);}
  </style>

  <script type="text/javascript">
function changeNavigation(id) {document.getElementById('main').innerHTML=document.getElementById(id).innerHTML}
 </script>
 
<body>
 
<div id="border1"></div>
<div id="border2"></div>
 
<div id="circle"><div id="musicc"> </div><img src="http://fc05.deviantart.net/fs70/f/2012/207/0/7/corazon_tipo_glitter_azul_claro_png_by_daniibiieber-d58pe0f.png"></div>
<div id="pd2"><br>S<br>A<br>K<br>A<br>R<br>I</div>
 
<div class="posic"><img src="INSERT PRETTY GIRL HERE"style="height:px;width:px; padding-leftt:px;"/> </div>
<div id="sideimgholder">
 
 
<div style="display: table; height: 100%; #position: relative; overflow: hidden; z-index:999;">
<div style=" #position: fixed; #top: 50%;display: table-cell; vertical-align: middle;">
<div id="sideimagebox" style=" #position: relative; #top: -50%;">
 
<div id="sideimg1"><img src="http://fc01.deviantart.net/fs71/f/2013/314/b/c/touhou___chibi_reisen_by_scionofaiur-d4kidtf.png"><div class="navi1"><span onclick="document.getElementById('main').innerHTML=document.getElementById('01').innerHTML; " title="">ello</span> </div></div>
<div id="sideimg2"><img src="http://i3.kym-cdn.com/photos/images/masonry/000/192/531/chibi_saigyouji_yuyuko_by_speedla_hedgehog-d3c6s3r.png"><div class="navi2"><span onclick="document.getElementById('main').innerHTML=document.getElementById('02').innerHTML; " title="">About me</span> </div></div>    
<div id="sideimg3"><img src="http://fc00.deviantart.net/fs71/f/2012/284/4/0/cirno_chibi__tracing__by_krimzoon-d5hgupx.png"><div class="navi3"><span onclick="document.getElementById('main').innerHTML=document.getElementById('03').innerHTML; " title="">Anime&Manga</span> </div></div>
<div id="sideimg4"><img src="http://www.sickos-alliance.net/moemoe/_images/f404807d1dd7ddbe04437f65ab581933/21%20-%20chibi%20moe%20suika_ibuki%20touhou.jpg"><div class="navi4"><span onclick="document.getElementById('main').innerHTML=document.getElementById('04').innerHTML; " title="">Friends</span></div></div>
 
</div>
</div>
</div>
 
</div>
 
 
<div id="barholder">
<div style="display: table; width: 205px; height: 100%; #position: relative; overflow: hidden; z-index:999;">
<div style=" #position: fixed; width: 205px; #top: 50%;display: table-cell; vertical-align: middle;">
<div id="sidebar" style=" #position: relative; #top: -50%;">
 
 
 
<div id="sidebarx"><img src="http://th05.deviantart.net/fs71/PRE/f/2011/003/5/a/skip_beat__setsu_by_kromogami18-d36d31d.jpg"></div>
<div id="sidetitle">no mercy!</div>
 
 
 
 
 
<center><div id="desc">Hi, nice to meet you! I'm Yoshida Haru.
<p>
[Independent Yoshida Haru roleplay blog.] <p> <small> [ I do not claim ownership of the gifs used on the left. ]
[I track tags yoshidaharu and yoshida--haru]</div></center></center>
 
<div id="custombox"></div>
 
 
<div id="main">
 </div><br></div></div></div>
 
<div id="01" style="display:none"> <div class="goodbox"><img src="http://i.imgur.com/Lqb2b.png"style="height:420px;opacity:0.70;height:90px;float:left;width:90px; padding:3px;top:70px;"/>Haru Yoshida (吉田 春, Yoshida Haru) is the male protagonist of the series Tonari no Kaibutsu-Kun. He is a high school student who attends the same school and same class as the female protagonist, Mizutani Shizuku. He was suspended from school before the start of the manga/anime, but his suspension was over by the time the story starts.<center> H I S T O R Y </center> Haru always hated his father, and although Haru and his brother were once close, Haru now despises Yuuzan. After his father kicked him out from their home, Haru went to live with his aunt Kyoko. As a child, Haru was a shy, rebellious and very conserving person. His aunt often saw him destroying glass and other things at home. His intelligence was only recognized by his aunt, and not himself. Kyoko lived telling things to Haru like "What do makes us human? Education, Language use and lastly Love." or "Humans anguish alone; and the unique medicine to this, is to find other people". These phrases have forever marked Haru, but the main phrase Haru remembers was "I hope that you find the right person one day". Haru always reflects about the phrase.
After Kyoko's death, Haru started to live with Mitsuyoshi.
 
It is also mentioned that Haru went to the same school as Yamaken when they were young. Haru was also bullied by Yamaken when they were young and Yuuzan would protect Haru.</div>
<div id="02" style="display:none"> <div class="goodbox"><img src="http://i.imgur.com/oWWFm.png"style="height:420px;opacity:0.70;height:90px;float:left;width:90px; padding:3px;top:70px;"/>U N I O N <br>Union <br><br><b>Admin:</b> Reo <br><br><b>Mods:</b> TJ, BJs, Lane, Arsh, Dynamic, CottonCandy, AngeloVio <br><br><br><u>Union Clan</u> (Botteh) <br><br><b>Admins: </b>Yoe (Nigga) Saleem (Errand Boy #5) BJs (Haraam) CottonCandy (Alice) <br><br><b>Memebers: </b>Sofia, Katy, Arsh, Mohaned, AngeloVio, Shane, LamborghiniMercy, Havo, Micki, Sephirothi, Psychodrama, Huge, Luigi, Lipe, Kuro, Anonyass, Noctisnevaria, Fafafafak <<br><br><p align="center">Visit us @ <br><a href="http://www.union.chatango.com" target="_blank"> www.union.chatango.com</a> <br>^ Click ^</div>
 
 
<div id="03" style="display:none"> <div class="goodbox"><img src="http://media.tumblr.com/tumblr_mcoqt8GVL01rx7928.jpg"style="height:420px;opacity:0.70;height:90px;float:left;width:90px; padding:3px;top:70px;"/> R E L A T I O N S H I P S<br>Shizuku Mizutani is Haru's classmate and love interest. Upon meeting Shizuku, he thinks she is a true friend for giving him papers while absent from school. Due to what happened, Haru now goes to school to see Shizuku everyday. When Shizuku confesses her love for him, he initially rejects her. Shizuku then tells him that she will wait for him to admit his love for her, then they will finally be together. When Shizuku lost her rank and went down to #29 as a result, she tells Haru that she will not fall in love with him anymore. When Haru remembers that his Aunt Kyoko told him to "find people whose presence is enough to soothe his pain", he realizes that Shizuku is what kept him happy everyday, and then realizes that he's in love with her.
Once Haru realises he's in love with Shizuku, he starts flirting with her that, and even licked her hand when she tried to give him tickets; Haru nearly kisses her when he gets close, and her red-faced reaction shows that she's still in love with him. Haru easily gets jealous when Shizuku is with another guy, especially Yamaguchi Kenji. He even tells her to avoid his brother for her own good.
 
When Shizuku realizes she still loves Haru, she tells him to give her more time to think about their relationship.</div>
 
<div id="04" style="display:none"> <div class="goodbox"><img src="http://media.tumblr.com/tumblr_mcoqe5bjA61rx7928.jpg"style="height:420px;opacity:0.70;height:90px;float:left;width:90px; padding:3px;top:70px;"/>Friends <br><a target="_blank" href="http://chatango.com/fpix?hannie"><img class="photo" src="http://fp.chatango.com/profileimg/h/a/hannie/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?kuro"><img class="photo" src="http://fp.chatango.com/profileimg/k/u/kuro/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?oniichan"><img class="photo" src="http://fp.chatango.com/profileimg/o/n/oniichan/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?rafa"><img class="photo" src="http://fp.chatango.com/profileimg/r/a/rafa/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?shivun"><img class="photo" src="http://fp.chatango.com/profileimg/s/h/shivun/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?tomoy"><img class="photo" src="http://fp.chatango.com/profileimg/t/o/tomoy/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?criativo"><img class="photo" src="http://fp.chatango.com/profileimg/c/r/criativo/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?n4na"><img class="photo" src="http://fp.chatango.com/profileimg/n/4/n4na/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?monotonie"><img class="photo" src="http://fp.chatango.com/profileimg/m/o/monotonie/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?harunochan"><img class="photo" src="http://fp.chatango.com/profileimg/h/a/harunochan/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?yoe"><img class="photo" src="http://fp.chatango.com/profileimg/y/o/yoe/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?jaeger"><img class="photo" src="http://fp.chatango.com/profileimg/j/a/jaeger/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?thown"><img class="photo" src="http://fp.chatango.com/profileimg/t/h/thown/thumb.jpg" style="border: 3px double #666666;"></a> <a target="_blank" href="http://chatango.com/fpix?pacificador"><img class="photo" src="http://fp.chatango.com/profileimg/p/a/pacificador/thumb.jpg" style="border: 3px double #666666;"></a></div>
